<div class="container my-4" x-data="responsivePage">
  <nav class="mb-4 d-flex">
    <%- include('../../partials/breadcrumb') %>

    <a
      x-on:click.once="navigate('/library/add/folder?path=/<%= props.path.join('/') %>')"
      type="button"
      class="ms-auto btn btn-sm btn-primary py-0"
    >
      <i class="bi bi-folder-fill fs-4"></i>
    </a>

    <a
      x-on:click.once="navigate('/library/add/image?path=/<%= props.path.join('/') %>')"
      type="button"
      class="ms-2 btn btn-sm btn-primary py-0"
    >
      <i class="bi bi-image fs-4"></i>
    </a>
  </nav>

  <div
    x-data="movableGrid('<%= props.csrf %>', '<%= props.path.join('/') %>')"
    x-on:dragend.prevent="
      dragging = false;
      current = '';
      current_name = '';
      type = ''
    "
    x-on:drop="dragging = false"
    x-on:drop.prevent="handleMove"
  >
    <div class="row g-3 mb-4">
      <% if(props.path[0] !== '') { %>

      <div class="col-12 mb-3" x-show="dragging">
        <div
          class="col-3 p-2 border rounded"
          x-bind:class="{'border-2 border-primary': isOver('<%= props.parent.id %>')}"
          x-on:dragover.prevent="current_over = '<%= props.parent.id %>'"
          x-on:dragleave.prevent="current_over = null"
        >
          Move up
        </div>
      </div>

      <% } %> <% for (folder of props.folders) { %>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div
          class="card"
          draggable="true"
          style="cursor: move"
          x-bind:class="{'border-2 border-primary': isOver('<%= folder.id %>')}"
          x-on:dragover.prevent="current_over = '<%= folder.id %>'"
          x-on:dragstart.self="
            current = '<%= folder.id %>';
            current_name = '<%= folder.name %>';
            dragging = true;
            type = 'folder'
          "
          x-on:dragleave.prevent="current_over = null"
        >
          <div class="card-body">
            <h5 class="card-title mb-3">
              <i class="bi bi-folder"></i>
              <%= folder.name %>
            </h5>

            <div class="d-flex justify-content-between">
              <a
                x-on:click.once="navigate('/library/modify/folder?type=folder&id=<%= folder.id %>')"
                class="btn btn-sm btn-dark py-0"
              >
                <i class="bi bi-pencil-square fs-5"></i>
              </a>

              <a
                x-on:click="navigate('/library?path=<%= folder.path %>')"
                class="btn btn-sm btn-primary py-0"
              >
                <i class="bi bi-folder2-open fs-5"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <% } %>
    </div>

    <div class="row g-3">
      <% for (image of props.images) { %>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div
          class="card"
          style="cursor: move"
          draggable="true"
          x-on:dragstart.self="
            current = '<%= image.id %>';
            current_name = '<%= image.name %>';
            dragging = true;
            type = 'image'
          "
        >
          <div
            alt="uploaded image"
            style="
              background-image: url('/uploads/images/<%= image.src %>#<%= image.modified_at %>');
            "
            class="card-img-top image-library"
            x-data="{ show_info: false }"
          >
            <button
              class="image-info-btn btn px-2 py-0 m-1"
              x-on:click="show_info = !show_info"
            >
              <i class="bi bi-info-circle fs-5"></i>
            </button>

            <template x-if="show_info">
              <div class="m-2 p-2 rounded border image-info">
                <small class="mb-1">
                  Image type :
                  <span class="text-muted">
                    <%= image.info.ext.replace('.','') %>
                  </span>
                  <br />
                  Dimension :
                  <span class="text-muted">
                    <%= Object.values(image.info.res ?? []).join('x') %> Pixels
                  </span>
                  <br />
                  Modified :
                  <span class="text-muted">
                    <%= new Date(image.modified_at).toLocaleString('fr') %>
                  </span>
                  <br />
                  Added :
                  <span class="text-muted">
                    <%= new Date(image.created_at).toLocaleString('fr') %>
                  </span>
                </small>
              </div>
            </template>
          </div>

          <div class="card-body">
            <h5 class="card-title mb-3 d-flex align-items-center">
              <i class="bi bi-image me-2"></i>

              <%= image.name %>
              <small class="ms-1 text-muted fw-normal fs-6">
                <%= image.info.ext %>
              </small>
              <small class="ms-auto text-muted fw-normal fs-6">
                <%= image.info.size %>
              </small>
            </h5>

            <div class="d-flex justify-content-between">
              <a
                href="/library/modify/image?id=<%= image.id %>"
                class="btn btn-sm btn-dark py-0"
              >
                <i class="bi bi-pencil-square fs-5"></i>
              </a>

              <button
                class="btn btn-sm btn-danger py-0"
                x-on:click="deleteImage(<%= image.id %>)"
              >
                <i class="bi bi-trash fs-5"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <% } %>
    </div>
  </div>
</div>
