<div class="container my-4" x-data="responsivePage()">
  <div class="row mb-4">
    <a
      x-on:click.once="navigate('/library?path=/<%= props.back %>')"
      class="link-primary"
      type="button"
    >
      Back
    </a>
  </div>

  <form
    action="/library/modify/folder"
    method="post"
    class="bg-light p-3 rounded border col-12 col-md-6"
    x-data="modifyFolderForm('<%= props.back %>', '<%= props.csrf %>', '<%= props.folder.parent_id %>')"
    x-on:submit.prevent="submit"
  >
    <h4 class="mb-3">Mofidy folder</h4>

    <input type="hidden" name="_csrf" value="<%= props.csrf %>" />
    <input type="hidden" name="id" value="<%= props.folder.id %>" />

    <div class="mb-3">
      <label for="name" class="form-label">Name :</label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        autocomplete="off"
        value="<%= props.folder.name %>"
      />
    </div>

    <div class="mb-3">
      <label for="move" class="form-label">Move folder :</label>
      <select
        name="move"
        id="move"
        class="form-control"
        autocomplete="off"
        x-on:change="setMoveTo"
      >
        <option value="<%= props.folder.parent_id %>">Don't move</option>

        <% for(move of props.moveCandidates) { %>

        <option value="<%= move.id %>" t-move-to="<%= move.path %>">
          => <%= move.name %> (<%= move.path %>)
        </option>

        <% } %>
      </select>
    </div>

    <div class="mb-3 alert alert-danger" x-text="error" x-show="error"></div>

    <div class="d-flex">
      <input type="submit" value="Modify" class="btn btn-primary" />

      <button
        class="ms-auto btn btn-outline-danger"
        x-on:click.prevent="deleteFolder('<%= props.folder.id %>')"
      >
        Delete
      </button>
    </div>
  </form>
</div>
