<div class="container my-4" x-data="responsivePage()">
  <div class="row mb-4">
    <a
      x-on:click.once="navigate('/library?path=<%= props.back %>')"
      class="link-primary"
      type="button"
    >
      Back
    </a>
  </div>

  <form
    class="bg-light p-3 rounded border"
    x-data="modifyImageForm('<%= props.back %>', '<%= props.csrf %>', '/uploads/images/<%= props.image.src %>')"
    x-on:submit.prevent="submit"
  >
    <h4 class="mb-3">Mofidy folder</h4>

    <input type="hidden" name="id" value="<%= props.image.id %>" />

    <div class="mb-3 col-md-6">
      <label for="name" class="form-label">Name :</label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        autocomplete="off"
        value="<%= props.image.name %>"
        x-bind:class="{'is-invalid': nameValid === false, 'is-valid': nameValid }"
        x-on:input="validateName"
        x-on:keydown.enter.prevent
      />
    </div>

    <div class="mb-3 col-md-6">
      <label for="move" class="form-label">Move image :</label>
      <select
        name="move"
        id="move"
        class="form-control"
        autocomplete="off"
        x-on:change="moved = $event.target.value !== '<%= props.image.parent_id %>'"
      >
        <option value="<%= props.image.parent_id %>">Don't move</option>

        <% for(move of props.moveCandidates) { %>

        <option value="<%= move.id %>">
          => <%= move.name %> (<%= move.path %>)
        </option>

        <% } %>
      </select>
    </div>

    <div class="mb-3">
      <div>
        <button
          class="btn btn-sm btn-primary"
          x-show="!cropper_show && !image_preview"
          x-on:click.prevent="cropper_show = true; $nextTick(() => showCropper())"
        >
          Crop image
        </button>

        <button
          class="btn btn-sm btn-danger"
          x-show="cropper_show"
          x-on:click.prevent="cropper.destroy(); cropper_show = false"
        >
          Cancel
        </button>

        <button
          class="btn btn-sm btn-danger"
          x-show="image_preview"
          x-on:click.prevent="image_preview = null; image_blob = null"
        >
          Cancel crop
        </button>
      </div>

      <template x-if="image_preview">
        <div class="mt-3">
          <img
            x-bind:src="image_preview"
            class="rounded border bg-secondary bg-opacity-50"
            style="width: 20rem; height: 15rem; object-fit: contain"
          />
        </div>
      </template>

      <template x-if="cropper_show">
        <div class="p-2 border rounded my-3 bg-white">
          <div class="cropper-js-img">
            <img
              x-bind:src="cropper_src"
              id="crop"
              alt="image to crop"
              x-ref="cropper"
            />
          </div>

          <div class="mt-2 d-flex">
            <button
              class="ms-2 btn btn-sm btn-dark"
              x-on:click.prevent="cropper.reset()"
            >
              Reset
            </button>

            <button
              class="ms-2 btn btn-sm btn-outline-dark"
              x-on:click.prevent="cropper.rotate(-45)"
            >
              <i class="bi bi-arrow-counterclockwise"></i>
            </button>

            <button
              class="ms-2 btn btn-sm btn-outline-dark"
              x-on:click.prevent="cropper.rotate(45)"
            >
              <i class="bi bi-arrow-clockwise"></i>
            </button>

            <button
              class="ms-auto btn btn-sm btn-primary"
              x-on:click.prevent="cropImage()"
            >
              Crop
            </button>
          </div>
        </div>
      </template>
    </div>

    <div class="mb-3 alert alert-danger" x-text="error" x-show="error"></div>

    <div class="d-flex">
      <input
        type="submit"
        value="Modify"
        class="btn btn-primary"
        x-bind:class="{ 'disabled': !nameValid && (cropper_show || !image_blob) && !moved }"
      />
    </div>
  </form>
</div>
